<%#= render :nav %>

<!-- link_to("Accept", ) -->

<div id="argument_container">
	<h2 id="argument_conclusion"><%= @argument.conclusion.body %></h2>
	<h3 id="argument_author"><%= @argument.author%></h3>

	<h2 id="argument_conclusion"><%= @argument.conclusion%></h2>

</div>
