<%#= render :nav %>

<!-- link_to("Accept", ) -->
<section id="argument_container">

	<div id="conclusion_container">
		<h2 id="argument_conclusion"><%= @argument.conclusion.body %></h2>
		<h3 id="argument_author"><%= @argument.author.username%></h3>
	</div>

	<% @argument.%>

	<div class="premise_container">
		<h4 id=""> </h4>
	</div>
</section> 