<h2>Recent Claims</h2>
<ul>
<% @recent_claims.each do |claim| %>
  <li><%= link_to(claim.body,claim) %> by <%= link_to(claim.author.username,claim.author) %>
<% end %>
</ul>

<h2>Recent Arguments</h2>
<ul>
<% @recent_arguments.each do |argument| %>
  <% argument.is_supporting == true ? position = "supporting" : position = "opposing" %>
  <li><%= link_to("Argument supporting " + argument.conclusion.body, argument.conclusion) %> by <%= link_to(argument.author.username, argument.author) %></li>
<% end %>
</ul>
